.form-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0;
}


#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#searchInput {
    width: 75%;
    padding: 12px;
    border-radius: 30px;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    font-size: 16px;
    color: #333;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

#searchInput:focus {
    border-color: #007bff;
    box-shadow: 0 8px 16px rgba(0, 123, 255, 0.3);
    outline: none;
}

.button-wrapper {
    display: flex;
    gap: 15px;
    margin: 10px 0;
}
button {
    width: 130px;
    border: none;
    border-radius: 5px;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
}

#searchButton {
    background: linear-gradient(45deg, #85182A, #A71E34);
    color: white;
    box-shadow: 0 4px 8px #85182A;
    
}

#searchButton:hover {
    background: linear-gradient(45deg, #A71E34, #85182A);
    transform: scale(1.05);
    box-shadow: 0 8px 16px #641220;
}

#searchButton:active {
    background: linear-gradient(45deg, #C71F37, #85182A);
    transform: scale(0.95);
    box-shadow: 0 4px 8px #641220;
}

#clearButton {
    background: linear-gradient(45deg, #10451D, #1A7431);
    color: white;
    box-shadow: 0 4px 8px rgba(76, 175, 80, 0.3);
}

#clearButton:hover {
    background: linear-gradient(45deg, #1A7431, #155D27);
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(76, 175, 80, 0.4);
}

#clearButton:active {
    background: linear-gradient(45deg, #4caf50, #25A244);
    transform: scale(0.95);
    box-shadow: 0 4px 8px rgba(76, 175, 80, 0.2);
}

.imagelist-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.imagelist-wrapper>.card {
    margin: 20px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.imagelist-wrapper>.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}